.pokedex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 650px;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
