.super-mario {
  position: absolute;
  width: 200px;
}

.goomba {
  position: absolute;
  width: 100px;
  top: 380px;
  left: 60px;
}

.baloon {
  position: absolute;
  left: 230px;
  top: 200px
}

.speach {
  position: absolute;
  z-index: 2;
  top: 240px;
  left: 250px;
  font-size: 25px;
}

.bowser {
  position: absolute;
  width: 200px;
  top: 350px;
  left: 500px;
}